<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% block title %}Incipio{% endblock %}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    {# Open Sans font from Google CDN #}
    <link rel="stylesheet"
          type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin"/>
</head>
<body>
    {% block header %}{% endblock %}
    {% block sidebar %}{% endblock %}
    {% block body %}{% endblock %}
</body>
</html>
