{% extends 'FrontBundle::base.html.twig' %}

{% block body -%}
    {% block page_header %}
        <div class="page-header">
            {% block page_header_title %}
                <h1>Title</h1>
            {% endblock %}
        </div>
    {% endblock %}

    {% block sub_body %}{% endblock %}
{% endblock %}
