{% extends "MgateFormationBundle::layout.html.twig" %}

{% block content_title %}
    {{ 'formation.formation_modifier'|trans({}, 'formation') }}
{% endblock %}

{% block breadcrumb_items %}
    <li>
        <a href="{{ path('Mgate_formation_voir', {'id': formation.id}) }}">{{ formation.titre }}</a>
    </li>
{% endblock %}

{% block breadcrumb_active %}
    {{ 'formation.modifier'|trans({}, 'formation') }}
{% endblock %}

{% block content_bundle %}
    {% include "MgateFormationBundle:Gestion:formulaire.html.twig" %}
{% endblock %}
